## 1) Import et visialisation du dataset choisi : Rotten Tomatoes

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('rotten_tomatoes_movies.csv')
df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

Information du jeu de donnÃ©es

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

In [4]:
list = df.columns
list

Index(['rotten_tomatoes_link', 'movie_title', 'movie_info',
       'critics_consensus', 'content_rating', 'genres', 'directors', 'authors',
       'actors', 'original_release_date', 'streaming_release_date', 'runtime',
       'production_company', 'tomatometer_status', 'tomatometer_rating',
       'tomatometer_count', 'audience_status', 'audience_rating',
       'audience_count', 'tomatometer_top_critics_count',
       'tomatometer_fresh_critics_count', 'tomatometer_rotten_critics_count'],
      dtype='object')

In [6]:
for i in range(len(list)):
    #print(i)
    print(df[list[i]].value_counts())

m/0814255                    1
m/phoenix_1998               1
m/phyllis_and_harold_2008    1
m/photographing_fairies      1
m/phone_booth                1
                            ..
m/edward_scissorhands        1
m/edwin_boyd_2012            1
m/eegah                      1
m/egg_2019                   1
m/zulu_dawn                  1
Name: rotten_tomatoes_link, Length: 17712, dtype: int64
Hamlet               6
Home                 5
Gloria               4
Little Women         4
The Mummy            4
                    ..
Executive Suite      1
Exhibition           1
Fong juk (Exiled)    1
Existenz             1
Zulu Dawn            1
Name: movie_title, Length: 17106, dtype: int64
Wisecracking mercenary Deadpool meets Russell, an angry teenage mutant who lives at an orphanage. When Russell becomes the target of Cable -- a genetically enhanced soldier from the future -- Deadpool realizes that he'll need some help saving the boy from such a superior enemy. He soon joins forces with Bedlam, Shatterstar, Domino and other powerful mutants to protect young Russell from Cable and his advanced weaponry.                                                                             2
An anthology of horror tales.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2
Always trouble-prone, the life of teenager Percy Jackson (Logan Lerman) gets a lot more complicated when he learns he's the son of the Greek god Poseidon. At a training ground for the children of deities, Percy learns to harness his divine powers and prepare for the adventure of a lifetime: he must prevent a feud among the Olympians from erupting into a devastating war on Earth, and rescue his mother from the clutches of Hades, god of the underworld.                                             1
A hapless extraterrestrial (Rob Stefaniuk) finds adventure after his ship crashes in Canada.                                                                                                                                                                                                                                                                                                                                                                                                                       1
A depressed dentist amid a mid-life crisis struggles to come to terms with the reasons why one of his patients who seemed to have it all would commit suicide.                                                                                                                                                                                                                                                                                                                                                     1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ..
Jack Cooper (Matt LeBlanc) could be a world-class baseball pitcher if he didn't keep buckling under the pressure. He tries to keep his spirits up after he's traded to a minor league team but loses all hope when he discovers that Ed, one of his teammates, is a chimp. Ed used to be the team mascot, but was promoted to third base when the owners realized he had a talent for baseball. As Jack struggles to get used to his new surroundings, Ed helps him regain his confidence on and off the field.    1
"Ed Gein" is based closely on the life of the famed Wisconsin serial killer. The kind folks in Plainfield, Wis., think Ed Gein is just a shy, eccentric farmer. But Ed knows differently. With the ghost of his mother compelling him, Ed can no longer resist the allure of Plainfield's women, and his fierce desire to experience a real, live kill or two.                                                                                                                                                     1
Because of his eccentric habits and bafflingly strange films, director Ed Wood (Johnny Depp) is a Hollywood outcast. Nevertheless, with the help of the formerly famous Bela Lugosi and a devoted cast and crew of show-business misfits who believe in Ed's off-kilter vision, the filmmaker is able to bring his oversize dreams to cinematic life. Despite a lack of critical or commercial success, Ed and his friends manage to create an oddly endearing series of extremely low-budget films.               1
More than 350,000 people celebrate electronic dance music at the 2013 Electric Daisy Carnival in Las Vegas.                                                                                                                                                                                                                                                                                                                                                                                                        1
Sir Henry Bartle Frere's (John Mills) vastly outnumbered garrison makes a stand against natives at Isandhlwana in 1879.                                                                                                                                                                                                                                                                                                                                                                                            1
Name: movie_info, Length: 17389, dtype: int64
High Life is as visually arresting as it is challenging, confounding, and ultimately rewarding - which is to say it's everything film fans expect from director Claire Denis.             2
Extinction has a few intriguing ideas, but they -- and some game performances from its talented stars -- are lost in the movie's muddled plot and frustrating pacing.                     2
Though it may seem like just another Harry Potter knockoff, Percy Jackson benefits from a strong supporting cast, a speedy plot, and plenty of fun with Greek mythology.                  1
Thrilling and thought-provoking, Point and Shoot captures one man's fascinating -- if troublingly narcissistic -- "crash course in manhood."                                              1
Please Stand By hits a number of familiar coming-of-age beats, but adds just enough of a Trek-fueled twist to keep things interesting.                                                    1
                                                                                                                                                                                         ..
The Emperor's New Groove isn't the most ambitious animated film, but its brisk pace, fresh characters, and big laughs make for a great time for the whole family.                         1
The premise of The Emperor's New Clothes is intriguing, and Holm gives a delightful performance.                                                                                          1
Despite a typically strong performance from Tommy Lee Jones, Emperor does little with its fascinating historical palate, and is instead bogged down in a cliched romantic subplot.        1
A powerful real-life story that's strong enough to overcome the Hollywood touches added in its telling, Emmanuel's Gift is an uplifting celebration of the human spirit.                  1
Zulu patiently establishes a cast of colorful characters and insurmountable stakes before unleashing its white-knuckle spectacle, delivering an unforgettable war epic in the bargain.    1
Name: critics_consensus, Length: 9132, dtype: int64
R        6377
NR       5474
PG-13    2979
PG       2168
G         676
NC17       38
Name: content_rating, dtype: int64
Drama                                                                                  1887
Comedy                                                                                 1263
Comedy, Drama                                                                           863
Drama, Mystery & Suspense                                                               731
Art House & International, Drama                                                        589
                                                                                       ...
Art House & International, Classics, Cult Movies, Horror, Science Fiction & Fantasy       1
Action & Adventure, Cult Movies, Drama, Science Fiction & Fantasy                         1
Art House & International, Documentary, Sports & Fitness                                  1
Action & Adventure, Drama, Mystery & Suspense, Special Interest                           1
Action & Adventure, Drama, Horror, Kids & Family, Mystery & Suspense                      1
Name: genres, Length: 1106, dtype: int64
Clint Eastwood                          38
Alfred Hitchcock                        36
Woody Allen                             36
Sidney Lumet                            31
Steven Spielberg                        30
                                        ..
Ralph Arlyck                             1
Antoine Le                               1
Jonathan Gruber, Ari Daniel Pinchot      1
John A. Alonzo                           1
Byron Howard, Rich Moore, Jared Bush     1
Name: directors, Length: 8933, dtype: int64
Woody Allen                                       33
Werner Herzog                                     20
Tyler Perry                                       20
Ingmar Bergman                                    19
Neil Simon                                        19
                                                  ..
Luc Besson, Robert Mark Kamen, Matthias Hoene      1
Rick Alverson, Gregg Turkington, Tim Heidecker     1
Rob Weiss, Doug Ellin                              1
William Broyles, Ronald Bass, Jon Amiel            1
Cy Endfield, Anthony Storey                        1
Name: authors, Length: 12989, dtype: int64
Werner Herzog                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   4
Chris Rock                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      4
Jim Gaffigan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    4
Patton Oswalt                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   4
Richard Pryor                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
Pasquale Rotella, Afrojack, Avicii, Gareth Emery, John Francis Dillon, Cedric Gervais, Hardwell, Calvin Harris, Jamie Jones, Alex Kidd, Fatboy Slim, TiÃ«sto, Armin van Buuren                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Eddie Murphy, Richard Tienken, Robert D Wachs                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
Eddie Murphy, Pat Golden, Samuel L. Jackson, Tatyana Ali, Gwen McGee, Basil Wallace                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Taron Egerton, Hugh Jackman, Christopher Walken, Jo Hartley, Daniel Ings, Tim McInnerny, Rune Temte, Edvin Endre, Lasco Atkins, Ania Sowinski, Anastasia Harrold, Daniel Westwood, Tony Paul West, Mads SjÃ¸gÃ¥rd Pettersen, Jessica Allain, Russell Balogh, Marc Benjamin, Mac Pietowski, Bron James, Tomasz Dabrowski, Jassie Mortimer, Graham Fletcher-Cook, Ruth Shaw, Martyn Mayger, Karl Farrer, Katie Hudson, Caolan McClafferty, Anthony Chisholm, Michael Jeffries, Guna Gultniece, Christopher Marsh, Garry Moore, Billy Holland, Laura Black, Kheira Bey, Matthew Brandon, Brent Phebey, Austin Burrows, Sascha Manuel Hodak, Michael Rauth, Jim Broadbent, Iris Berben, Mark Benton, Jack Costello    1
Burt Lancaster, Peter O'Toole, Simon Ward, John Mills, Nigel Davenport, Michael Jayston, Ronald Lacey, Denholm Elliott, Freddie Jones, Christopher Cazenove, Ronald Pickup, Donald Pickering, Anna Calder-Marshall, James Faulkner, Peter Vaughan, Graham Armitage, Bob Hoskins, Dai Bradley, Paul Copley, Christopher Chittell, Nicholas Clay, Patrick Mynhardt, Brian O'Shaughnessy, Brian O'Shaunnessy, Simon Sabela, Midge Carter, Phil Daniels, Ken Gampu, Ray Davies                                                                                                                                                                                                                                      1
Name: actors, Length: 17330, dtype: int64
2002-01-01    29
2000-01-01    25
2003-01-01    25
1988-01-01    25
1993-01-01    24
              ..
1975-09-21     1
2018-08-08     1
2002-07-20     1
2003-05-01     1
1964-06-17     1
Name: original_release_date, Length: 5804, dtype: int64
2016-08-10    1235
2012-04-16     671
2015-11-25     447
2016-11-30     403
2013-08-01     276
              ...
2018-07-07       1
2020-01-01       1
2015-03-17       1
2019-10-16       1
2015-09-18       1
Name: streaming_release_date, Length: 2271, dtype: int64
90.0     834
95.0     603
100.0    540
93.0     539
96.0     511
        ...
254.0      1
213.0      1
191.0      1
240.0      1
255.0      1
Name: runtime, Length: 190, dtype: int64
Paramount Pictures          517
Warner Bros. Pictures       509
Universal Pictures          495
20th Century Fox            423
IFC Films                   413
                           ...
Ocscilloscope Pictures        1
Peach Arch Entertainment      1
MCR Releasing                 1
Abarorama                     1
Tango Entertainment           1
Name: production_company, Length: 3046, dtype: int64
Rotten             7565
Fresh              6844
Certified-Fresh    3259
Name: tomatometer_status, dtype: int64
100.0    964
50.0     438
88.0     408
67.0     396
83.0     396
        ...
4.0       46
5.0       41
3.0       21
2.0       11
1.0        6
Name: tomatometer_rating, Length: 101, dtype: int64
5.0      793
6.0      728
7.0      666
8.0      595
9.0      532
        ...
364.0      1
379.0      1
339.0      1
330.0      1
295.0      1
Name: tomatometer_count, Length: 407, dtype: int64
Upright    9390
Spilled    7874
Name: audience_status, dtype: int64
71.0    323

In [22]:
df.select_dtypes(exclude='object').describe()

,runtime,tomatometer_rating,tomatometer_count,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
count,17398.000000,17668.000000,17668.000000,17416.000000,1.741500e+04,17712.000000,17712.000000,17712.000000
mean,102.214048,60.884763,57.139801,60.554260,1.439401e+05,14.586326,36.374831,20.703139
std,18.702511,28.443348,68.370047,20.543369,1.763577e+06,15.146349,52.601038,30.248435
min,5.000000,0.000000,5.000000,0.000000,5.000000e+00,0.000000,0.000000,0.000000
25%,90.000000,38.000000,12.000000,45.000000,7.075000e+02,3.000000,6.000000,3.000000
50%,99.000000,67.000000,28.000000,63.000000,4.277000e+03,8.000000,16.000000,8.000000
75%,111.000000,86.000000,75.000000,78.000000,2.498800e+04,23.000000,44.000000,24.000000
max,266.000000,100.000000,574.000000,100.000000,3.579764e+07,69.000000,497.000000,303.000000

In [23]:
df.corr()

,runtime,tomatometer_rating,tomatometer_count,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
runtime,1.000000,0.089672,0.272304,0.229088,0.062672,0.243070,0.267346,0.149550
tomatometer_rating,0.089672,1.000000,0.083565,0.654068,0.013408,0.055090,0.339090,-0.400668
tomatometer_count,0.272304,0.083565,1.000000,0.147596,0.127442,0.925711,0.907241,0.681868
audience_rating,0.229088,0.654068,0.147596,1.000000,0.021885,0.130499,0.310079,-0.205912
audience_count,0.062672,0.013408,0.127442,0.021885,1.000000,0.124026,0.119320,0.079990
tomatometer_top_critics_count,0.243070,0.055090,0.925711,0.130499,0.124026,1.000000,0.807543,0.687473
tomatometer_fresh_critics_count,0.267346,0.339090,0.907241,0.310079,0.119320,0.807543,1.000000,0.311143
tomatometer_rotten_critics_count,0.149550,-0.400668,0.681868,-0.205912,0.079990,0.687473,0.311143,1.000000



## 2) RÃ©alisation du mcd sur Mocodo

![mcd.png](mcd.png)

## 3) PrÃ©-traitement du dataset pour l'import dans la bdd sur  phpMyAdmin

### 3.1) MÃ©thodologie de traitmement sur Excels

Import du dataset sur Ecxel et prÃ©traitement avec l'outil Power Query :
- Import du dataset
- sÃ©paration de certaines donnÃ©es basics
- fractionnement des colonnes
- supression des donnÃ©es doubles pour crÃ©er des bases
- untilisation de la fonction recherche enrechistrement des tables

Dans cet exemple nous avons gardÃ© que les 3 premiers acteurs et auteurs des listes du dataset de base

### 3.3) Import des tables primaires sur phpMyAdmin

In [8]:
import mysql.connector as mysqlpyth

# descrition des variable en valeur ici None
bdd = None 
cursor = None

# Connexion de la bdd
def connexion(): 
    global bdd 
    global cursor
    bdd = mysqlpyth.connect(user='root', password='root', host='localhost', port="8081", database='rotten_tomatoes')
    cursor = bdd.cursor()
    
# DÃ©connexion de la bdd
def deconnexion(): 
    global bdd 
    global cursor
    
    cursor.close() 
    bdd.close()

- **Insertion table 1 calendrier**

In [99]:
path='./tables/calendrier.xlsx'
calendrier = pd.read_excel(path)
calendrier.head(2)

   id_date        date
0        1  1914-06-01
1        2  1915-01-01

In [123]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in calendrier.iterrows():
    query = 'INSERT INTO calendrier(id_date,date) VALUES(%s,%s);'
    param = (row.id_date, row.date) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 2 catÃ©gorie du public du film**

In [97]:
path='./tables/categorie_public.xlsx'
categorie_public = pd.read_excel(path)
categorie_public.head(2)

   id_categorie categorie
0             1         G
1             2    NC17

In [124]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in categorie_public.iterrows():
    query = 'INSERT INTO categorie_public(id_categorie,categorie) VALUES(%s,%s);'
    param = (row.id_categorie, row.categorie) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 3 note de l'audience**

In [106]:
path='./tables/note_audience.xlsx'
note_audience = pd.read_excel(path)
note_audience.head(2)

   id_audience label_audience
0            1        Spilled
1            2        Upright

In [125]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in note_audience.iterrows():
    query = 'INSERT INTO note_audience(id_audience,label_audience) VALUES(%s,%s);'
    param = (row.id_audience, row.label_audience) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 4 identite personne**

In [108]:
path='./tables/personnes.xlsx'
personnes = pd.read_excel(path)
personnes.head(2)

   id_personne        identite_personne
0            1            ??ke GrÃ¶nberg
1            2   ??lafur Egill Egilsson

In [126]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in personnes.iterrows():
    query = 'INSERT INTO personnes(id_personne,identite_personne) VALUES(%s,%s);'
    param = (row.id_personne, row.identite_personne) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 5 societe_production**

In [129]:
path='./tables/societe_production.xlsx'
societe_production = pd.read_excel(path)
societe_production.head(2)

   id_societe nom_societe_production
0           1         @radical.media
1           2        10 West Studios

In [131]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in societe_production.iterrows():
    query = 'INSERT INTO societe_production(id_societe,nom_societe_production) VALUES(%s,%s);'
    param = (row.id_societe, row.nom_societe_production) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 6 tomatometer_status**

In [135]:
path='./tables/tomatometer_status.xlsx'
tomatometer_status = pd.read_excel(path)
tomatometer_status.head(2)

   id_tomatometer_status      tomatometer
0                      1  Certified-Fresh
1                      2            Fresh

In [137]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in tomatometer_status.iterrows():
    query = 'INSERT INTO tomatometer_status(id_tomatometer_status,tomatometer) VALUES(%s,%s);'
    param = (row.id_tomatometer_status, row.tomatometer) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 7 type_genre**

In [138]:
path='./tables/type_genre.xlsx'
type_genre = pd.read_excel(path)
type_genre.head(2)

   id_genre           genre
0         1       Animation
1         2   Anime & Manga

In [140]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in type_genre.iterrows():
    query = 'INSERT INTO type_genre(id_genre,genre) VALUES(%s,%s);'
    param = (row.id_genre, row.genre) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table 8 films**

In [103]:
for index, row in calendrier.iterrows():
    #print(row.id_date, row.date)
    pass

In [148]:
# table principale film
path='./tables/films.xlsx'
films = pd.read_excel(path)
films.head(2)

,id_film,titre,duree,tomatometer_count,audience_rating,audience_count,id_tomatometer_status,id_date_sortie,id_categorie,id_date_stream,id_audience_status,id_societe_production,tomatometer_rating
0,1,Percy Jackson & the Olympians: The Lightning T...,119.0,149.0,53.0,254421.0,3.0,4695.0,4,5355.0,1.0,10.0,49.0
1,2,Please Give,90.0,142.0,64.0,11574.0,1.0,4716.0,6,4985.0,2.0,2455.0,87.0

In [149]:
films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_film                17712 non-null  int64
 1   titre                  17712 non-null  object
 2   duree                  17398 non-null  float64
 3   tomatometer_count      17668 non-null  float64
 4   audience_rating        17416 non-null  float64
 5   audience_count         17415 non-null  float64
 6   id_tomatometer_status  17668 non-null  float64
 7   id_date_sortie         16546 non-null  float64
 8   id_categorie           17712 non-null  int64
 9   id_date_stream         17328 non-null  float64
 10  id_audience_status     17264 non-null  float64
 11  id_societe_production  17213 non-null  float64
 12  tomatometer_rating     17668 non-null  float64
dtypes: float64(10), int64(2), object(1)
memory usage: 1.8+ MB

In [150]:
films.dropna(inplace=True)

In [151]:
films.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15705 entries, 0 to 17711
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_film                15705 non-null  int64
 1   titre                  15705 non-null  object
 2   duree                  15705 non-null  float64
 3   tomatometer_count      15705 non-null  float64
 4   audience_rating        15705 non-null  float64
 5   audience_count         15705 non-null  float64
 6   id_tomatometer_status  15705 non-null  float64
 7   id_date_sortie         15705 non-null  float64
 8   id_categorie           15705 non-null  int64
 9   id_date_stream         15705 non-null  float64
 10  id_audience_status     15705 non-null  float64
 11  id_societe_production  15705 non-null  float64
 12  tomatometer_rating     15705 non-null  float64
dtypes: float64(10), int64(2), object(1)
memory usage: 1.7+ MB

In [154]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in films.iterrows():
    query = 'INSERT INTO films(id_film, titre, duree, tomatometer_count, audience_rating, audience_count, id_tomatometer_status, id_date_sortie, id_categorie, id_date_stream, id_audience_status, id_societe_production, tomatometer_rating) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'
    param = (row.id_film, row.titre, row.duree, row.tomatometer_count, row.audience_rating, 
             row.audience_count, row.id_tomatometer_status, row.id_date_sortie, 
             row.id_categorie, row.id_date_stream, row.id_audience_status, 
             row.id_societe_production, row.tomatometer_rating) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table intermediare 9 acteurs**

In [184]:
path='./tables/acteurs.xlsx'
acteurs = pd.read_excel(path).astype('float64')
acteurs.head(2)

   id_film  id_personne
0      1.0      37026.0
1      1.0       2846.0

In [185]:
acteurs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45961 entries, 0 to 45960
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_film      45961 non-null  float64
 1   id_personne  45961 non-null  float64
dtypes: float64(2)
memory usage: 718.3 KB

In [186]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in acteurs.iterrows():
    query = 'INSERT INTO acteurs(id_film,id_personne) VALUES(%s,%s);'
    param = (row.id_film, row.id_personne) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table intermediare 10 auteurs**

In [198]:
path='./tables/auteurs.xlsx'
auteurs = pd.read_excel(path).astype('float64')
auteurs.head(2)

   id_film  id_personne
0      1.0      28880.0
1      1.0       4005.0

In [206]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in auteurs.iterrows():
    query = 'INSERT INTO auteurs(id_film,id_personne) VALUES(%s,%s);'
    param = (row.id_film, row.id_personne) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table intermediare 11 realisateurs**

In [204]:
path='./tables/realisateurs.xlsx'
realisateurs = pd.read_excel(path).astype('float64')
realisateurs.head(2)

   id_film  id_personne
0      1.0      28234.0
1      2.0      39524.0

In [207]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in realisateurs.iterrows():
    query = 'INSERT INTO realisateurs(id_film,id_personne) VALUES(%s,%s);'
    param = (row.id_film, row.id_personne)  
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

- **Insertion table intermediare 12 genre du film**

In [215]:
path='./tables/genre_film.xlsx'
genre_film = pd.read_excel(path).astype('float64')
genre_film.head(2)

   id_film  id_genre
0      1.0      21.0
1      1.0       5.0

In [217]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in genre_film.iterrows():
    query = 'INSERT INTO genre_film(id_film,id_genre) VALUES(%s,%s);'
    param = (row.id_film, row.id_genre) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

In [201]:
def add_bdd(df, col1, col2):
    # Ajout dans la bdd
    global cursor 
    global bdd 

    connexion() 
    for index, row in df.iterrows():
        query = 'INSERT INTO df(col1,col2) VALUES(%s,%s);'
        param = (row.col1, row.col2) 
        cursor.execute(query, param) 
        #bdd.commit()
    deconnexion()

## 4) CrÃ©er une vue et une procÃ©dure stockÃ©e

In [ ]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in genre_film.iterrows():
    query = 'INSERT INTO genre_film(id_film,id_genre) VALUES(%s,%s);'
    param = (row.id_film, row.id_genre) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

## 5) Analyse des donnÃ©es

### 5.1) Import de la dataset

In [ ]:
# Ajout dans la bdd
global cursor 
global bdd 

connexion() 
for index, row in genre_film.iterrows():
    query = 'INSERT INTO genre_film(id_film,id_genre) VALUES(%s,%s);'
    param = (row.id_film, row.id_genre) 
    cursor.execute(query, param) 
    bdd.commit()
deconnexion()

### 5.2) analyse statistique 
nota : faire 3-4 graphiques

In [218]:
# graph camembert
from matplotlib.pyplot import pie
pie(df[['la target']].value_counts().head(5), labels=['les colonnes visÃ©es,'])

## 4) CrÃ©er une vue et une procÃ©dure stockÃ©e